<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InnovaBots</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Bienvenido a InnovaBots </h2>
                <p>Crear un nuevo bot desde nuestras plantillas.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="box">
                    <a class="text-center">Basico</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box">
                    <a class="text-center">Pedido de pizzas</a>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>